django==4.1.1
djangorestframework==3.14.0
psycopg2-binary==2.9.3; sys_platform == 'darwin' and platform_machine == 'arm64'
psycopg2==2.9.3; sys_platform != 'darwin' or platform_machine != 'arm64'
dj-rest-auth==2.2.5
django-allauth==0.51.0
django-rest-auth==0.9.5
djangorestframework-simplejwt==5.2.2
django-cors-headers-3.13.0
