-r requirements.txt
black==22.8.0
django-debug-toolbar==3.7.0
isort==5.10.1
model-mommy==2.0.0
pylint==2.13.8
pytest==7.0.0
pytest-django==4.5.2
pip==20.0.2
pkg-resources==0.0.0
# sh dos2unix.sh
# pre