name: Run pytest

on:
  pull_request:
    paths:
      - dear_j/**
      - .github/workflows/test.yml
      
jobs:
  data-etl-test:
    name: run data-etl tests
    runs-on: ubuntu-latest
    
    steps: 
    - name: Checkout current branch
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}
        
    - name: Setup python env
      uses: actions/setup-python@v4
      with:
        python-version: "3.8.13"
        cache: "pip" 
        
    - name: Install pip deps
      run: |
        python -m pip install --upgrade pip
        pip install -r "${GITHUB_WORKSPACE}/requirements.dev.txt"
         
    - name: Run tests
      run: |
        cd ${GITHUB_WORKSPACE}/dear_j/
        pytest --junit-xml=${GITHUB_WORKSPACE}/dear_j/test.xml ./
        
    - name: Test reports
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: backend tests                  
        path: './dear_j/test.xml'
        reporter: java-junit 
        
